<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Proyecto Food</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <span class="icon-home-1"></span> Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="nuedonativo"><span class="icon-gift"></span> Donar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="quienesSomos"><span class="icon-megaphone"></span> ¿Quienes somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ayuda"><span class="icon-help"></span> ¿Como recibir ayuda?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login-form-02/index.html"><span class="icon-user-plus"></span> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario"><span class="icon-user-plus"></span> Usuario</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

@code {

}
