@page "/quienesSomos"
        <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">¿Quienes Somos?</h2>
                <h3 class="section-subheading text-muted">
                    Somos un grupo de personas que busca ayudar a los demas, nuestro princpipal objetivo con este proyecto es ayudar a los demas y a los que menos
                    tiene, siempre hemos pensado ques si todos trabajamos juntos, podremos hacer muchas cosas y sobre todo realizar muchos cambios para un bien.
                </h3>
            </div>
            <div align="center">
                <img src="https://static2.devoluiva.com/Content/images/quienes-somos/banner-quienes-somos.png?ts=637139968320000000" width="900" height="300" />
            </div>
            <br>
            <br>
                   <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="timeline-image"><img class="rounded-circle img-fluid" src="/style/assets/img/icons/Valores/MISIÓN.jpg" alt="..." /></i>
                            <i class="timeline-panel" />
                            <i class="timeline-heading" />
                        </span>
                        <h4 class="my-3">Misión</h4>
                        <p class="text-muted">Llevar un poco de alimentos o biberes a las personas que mas lo necesitan.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="timeline-image"><img class="rounded-circle img-fluid" src="/style/assets/img/icons/Valores/VISION.jpg" alt="..." /></i>
                            <i class="timeline-panel" />
                            <i class="timeline-heading" />
                        </span>
                        <h4 class="my-3">Visión</h4>
                        <p class="text-muted">
                            Darnos a conocernos poco a poco en el area de merida yucatán para ir apoyando a mas ersona en el mundo, nuestra vision es el poder seguir ayudando
                            a todas las personas que pasen hambre y no tengan los recursos suficientes para adquirir un poco de alimentos.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="timeline-image"><img class="rounded-circle img-fluid" src="/style/assets/img/icons/Valores/VALORES.jpg" alt="..." /></i>
                            <i class="timeline-panel" />
                            <i class="timeline-heading" />
                        </span>
                        <h4 class="my-3">Valores</h4>
                        <p class="text-muted">
                            COMPROMISO: Ayudar a todas aquellas personas que no tengan recursos y necesiten de nuestro apoyo
                            <br>
                            <br>
                            RESPETO: Todo aquello que realicemos es sin fines de lucro, sin intentar ofender a nadie y ayudar al necesitado
                            <br>
                            <br>
                            LEALTAD:Nuestro objetivo es el apoyar a los demas que lo necesita por lo que nos comprometemos a ser leales a nuestro objetivo principal para ayudar a los que
                            mas lo necesitan.
                            <br>
                            <br>
                            TRABAJO EN EQUIPO: Nuestro personal y equipo de apoyo estan 100% comprometidos con este proyecto, gracias a ellos hmos formado a un gran equipo comprometidos
                            a apoyar a la causa.
                            <br>
                            <br>
                            SOLIDARIDAD: Nuestro personal o equipo de trabajo tenemos en cuenta la empatia hacia las demas personas debido a eso nos motiva a ayudar a las personas
                            necesitadas.
                            <br>
                            <br>
                            RESPONSABILIDAD: Tenemos en cuenta que es un gran proyecto y una gran responsabilidad por lo que estamos comprometidos ante cualquier situacion para
                            llevar a cabo nuestro objetivo.
                        </p>
                    </div>
                </div>
            </div>
</section>

@code {

    }
