@page "/ayuda"
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">¿Necesitas Ayuda?</h2>
                <h3 class="section-subheading text-muted">Aqui tenemos nuestra información para ti.</h3>
                <div align="center">
                    <img src="https://www.paginaswebamedida.org/wp-content/uploads/img-manos-ayuda.png" width="900" height="300" />
                </div>
                </div>
            <div class="row text-center">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <h3 class="my-3">Ubicación sur</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.8276699764483!2d-89.62233739912577!3d20.91925181514618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5671f68debaa3d%3A0xf74947505d5c5c36!2sC.%2050%E1%B4%AC%20530%2C%20Cinco%20Colonias%2C%2097280%20M%C3%A9rida%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1645496865331!5m2!1ses-419!2smx" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <h3 class="my-3">Ubicación oriente</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.0700688295406!2d-89.57802638527653!3d20.949701095848873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5670587dcb7e8b%3A0x762de2faab5f6fd1!2sC.%2025C%20357%2C%20Vergel%20IV%2C%2097173%20M%C3%A9rida%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1645496253401!5m2!1ses-419!2smx" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <h3 class="my-3">Ubicación Centro</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.7508425101732!2d-89.63578578527631!3d20.96251869541262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5673daa16f0c9d%3A0x8f6f76d0bd9c7a52!2sC.%2074%20547D%2C%20Centro%2C%2097000%20Centro%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1645497042747!5m2!1ses-419!2smx" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/style/assets/img/icons/Valores/AYUDA/1.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Paso #1</h4>
                            <h4 class="subheading">Localiza Nuestros centros de ayuda</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted"> Localiza el Banco de Alimentos más cercano a tu comunidad o institución, en nuestro mapa.!</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/style/assets/img/icons/Valores/AYUDA/2.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Paso #2</h4>
                            <h4 class="subheading">Acude al centro más cercano</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Una vez identificada la ubicación, acudir a la mas cercana para poder recibir mas información sobre el proceso requerido!</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/style/assets/img/icons/Valores/AYUDA/3.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Paso #3</h4>
                            <h4 class="subheading">Nosotros te ayudaremos</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Una vez realizado los pasos anteriores, solo es cuestion de esperar a que nuestro equipo de trabjo acuda a su ubicación pra brindarle la ayuda!</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Somos
                            <br />
                            Parte de un
                            <br />
                            Cambio!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
</section>


    @code {

    }
